.contentWrapper {
  overflow: hidden;
  margin-top: 50px;
}

.listWrapper {
  font-family: var(--body-font);
  text-transform: uppercase;
  color: var(--dark-blue);
  text-align: center;

  & + & {
    margin-top: 50px;
  }

  > h1 {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 30px;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    width: 430px;
    margin: 0 auto;
    @media (max-width: 470px) {
      grid-template-columns: repeat(2, 100px);
      width: 210px;
    }
  }

  @media (max-width: 800px) {
    padding-bottom: 50px;
    padding-top: 0;
    color: var(--lighter-blue);
  }
}

.listItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: var(--dark-blue);
  transition: 175ms ease-out;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  text-align: center;

  &:hover {
    transform: scale(1.2);
    :global(i.fa) {
      background-color: var(--background-lighter-blue);
      box-shadow: 0 0 5px var(--light-blue);
    }
  }

  > :global(i.fa) {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    transition: ease-in 175ms;
    transition-delay: 90ms;
    font-size: 34px;
    border-radius: 50%;
    border: 1px solid var(--light-blue);
    margin-bottom: 5px;
  }

  > span {
    font-family: var(--header-font);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.12em;
  }

  @media (max-width: 800px) {
    color: var(--lighter-blue);
  }
}
