.nav {
  a {
    text-decoration: none;
    color: var(--medium-blue);
    border: 1px solid var(--medium-blue);
    height: 40px;
    transition: 0.25s;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: white;
      &:before {
        transform: none;
      }
    }

    i.fa {
      margin-right: 10px;
      position: relative;
      z-index: 5;
      font-size: 1.5em;
      vertical-align: center;
    }

    span {
      position: relative;
      z-index: 5;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      background: var(--medium-blue);
      transform: rotate(90deg);
      transform-origin: -50px -10px;
      transition: 0.25s;
      z-index: 0;
    }
  }
}
