.link {
  border: 1px solid var(--medium-blue);
  color: var(--dark-blue);
  font: 600 12px/2em var(--body-font);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 50px;
  display: flex;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: var(--medium-blue);
    transform: rotate(90deg);
    transform-origin: -20% -20%;
    transition: 0.25s;
    z-index: 5;
    opacity: 0.8;
  }

  &:after {
    content: '\f14c';
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    color: white;
    font-size: 80px;
    font-family: FontAwesome;
    text-shadow: 0 0 10px rgba(white, 0.5);
    pointer-events: none;
    transition: 0.65s;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &:before {
      transform: none;
    }
    &:after {
      opacity: 1;
    }
  }

  &:nth-of-type(odd) {
    background: var(--section-background);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (max-width: 800px) {
    margin-bottom: 0;
    border: none;
    background: var(--section-background-mobile);
    color: var(--lighter-blue);
    &:nth-of-type(odd) {
      background: var(--section-background-mobile-odd);
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.image {
  $imageSize: 160px;

  display: block;
  width: $imageSize;
  height: $imageSize;
  border: 1px solid var(--medium-blue);
  margin-right: 30px;
  flex-shrink: 0;
  flex-grow: 0;

  @media (max-width: 600px) {
    display: none;
  }
}

.content {
  > h1 {
    font-size: 1.5em;
    margin-top: 0;
  }

  > p {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    b {
      border-bottom: 1px solid var(--light-blue);
    }
  }
}
